<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Room</title>
</head>
<body>
<h1>Reservation of Room: {{ room.id }} Name: {{ room.name }} Capacity: {{ room.capacity }} Projector: {{ room.projector }} </h1>

<form action="" method="POST">
        {% csrf_token %}
        <label>
            Date of booking room <input type="date" name="room_book_date">
        </label>

        <label>
            Comment: <input type="text" name="comment">
        </label>

    <input type="submit" value="Book Room">
        </form>

<h3>{{ error_date }}</h3>

{% for bookedroom in bookedrooms %}
    <b> Date of reservation:</b>  {{ bookedroom.date  }}<b>  Comment:</b> {{ bookedroom.comment }} <br>
{% endfor %}

</body>
</html>