<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu of Booking rooms</title>
</head>
<body>
<h1><a href="http://127.0.0.1:8000/main-menu-rooms">MAIN MENU BOOKING ROOMS</a> {{ current_date }}</h1>

<h3>QUERY SEARCH AVAILABLE ROOM:</h3>

<form action="/search" method="GET">
        {% csrf_token %}
        <label>
            Name of room: <input type="text" name="room_name">
        </label>

        <label>
            Minimal needed capacity room: <input type="number" name="room_capacity">
        </label>

        <label>
            Needed projector: <input type="checkbox" name="room_projector">
        </label>

    <input type="submit" value="Search">
        </form>

<h3>LIST OF ALL ROOMS:</h3>

{% for room in rooms %}
    <p>{{ room.id }} Room name: <b>{{ room.name }}</b> Room capacity: <b>{{ room.capacity }}</b> Include Projector: <b>{{ room.projector }}</b>

{#Today Reserved: {{ available }}#}




        {% for bookedroom in bookedrooms %}
            {% if room.id == bookedroom.room_id_id %}
        <br> <b> At: </b> {{ bookedroom.date }}   <b>Comment:</b>  {{ bookedroom.comment }}

            {% endif %}
             {% if current_date == bookedroom.date and room.id == bookedroom.room_id_id    %} <b>Reserved Today: </b>Yes
        {% elif room.id == bookedroom.room_id_id    %} <b>Reserved Today: </b> No
        {% endif %}
        {% endfor %}



       <br> <b><a href="http://127.0.0.1:8000/room/modify/{{room.id}}">Edit Room</a></b>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><a href="http://127.0.0.1:8000/room/delete/{{room.id}}"> Delete Room</a></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><a href="http://127.0.0.1:8000/room/reserve/{{room.id}}"> Book this room</a></b>
            </p>
{% endfor %}




<h3><a href="http://127.0.0.1:8000/room/new"> ADD NEW ROOM </a> </h3>

{#MESSAGE AFTER DELETE ROOM FROM DATABASE IN MAIN MENU#}
{% if messages %}
<h2 class="messages">
    {% for message in messages %}  {{ message }}   {% endfor %}
</h2>
{% endif %}



<footer>
		Autor: <address>Jacek Rogowski (rogalowski@gmail.com)</address>
		<p>All rights reserved</p>
	</footer>

</body>
</html>